@model IEnumerable<WEBSITEBANSACH.Models.KHACHHANG>

@{
    ViewBag.Title = "KHACHHANG";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>QUẢN LÍ THÔNG TIN KHÁCH HÀNG</h2>

<p>
    @Html.ActionLink("Thêm mới", "themKH")
</p>
<table class="table">
    <tr>
        <th style=" width:200px; text-align:center;">
            MÃ KHÁCH HÀNG
        </th>
        <th style=" width:200px; text-align:center;">
            HỌ TÊN KH
        </th>
        <th style=" width:200px; text-align:center;">
            TÀI KHOẢN
        </th>
        <th style=" width:200px; text-align:center;">
            MẬT KHẨU
        </th>
        <th style=" width:200px; text-align:center;">
            EMAIL
        </th>
        <th style=" width:200px; text-align:center;">
            ĐỊA CHỈ
        </th>
        <th style=" width:200px; text-align:center;">
            ĐIỆN THOẠI
        </th>
        <th style=" width:200px; text-align:center;">
            GIỚI TÍNH
        </th>
        <th style=" width:200px; text-align:center;">
            NGÀY SINH
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style=" width:200px; text-align:center; ">
                @Html.DisplayFor(modelItem => item.MaKH)
            </td>
            <td style =" width:200px; text-align:center;">
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td style=" width:200px; text-align:center; color:red;">
                @Html.DisplayFor(modelItem => item.Taikhoan)
            </td>
            <td style=" width:200px; text-align:center; color:red;">
                @Html.DisplayFor(modelItem => item.Matkhau)
            </td>
            <td style=" width:200px; text-align:center;">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td style=" width:200px; text-align:center;">
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td style=" width:200px; text-align:center;">
                @Html.DisplayFor(modelItem => item.Dienthoai)
            </td>
            <td style=" width:200px; text-align:center;">
                @Html.DisplayFor(modelItem => item.Gioitinh)
            </td>
            <td style=" width:200px; text-align:center;">
                @Html.DisplayFor(modelItem => item.Ngaysinh)
            </td>
            <td style=" width: 300px; text-align: center;">
                @Html.ActionLink("Sửa", "suakh", new { @makh = item.MaKH }) |

                @Html.ActionLink("Xóa", "xoaKH", new { @maKH = item.MaKH })
            </td>
        </tr>
    }

</table>
