@*@model IEnumerable<WEBSITEBANSACH.Models.CHITIETSACH>*@
@model PagedList.PagedList<WEBSITEBANSACH.Models.CHITIETSACH>

@using PagedList.Mvc;
@using WEBSITEBANSACH.Models
@{
    ViewBag.Title = "Sach";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>QUẢN LÍ THÔNG TIN SÁCH</h2>
@helper Truncate(string input, int length)
{
    if (input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text >...</text>
    }
}
<p>
    @Html.ActionLink("Thêm mới", "themmoi")
</p>


<table class="table">
    <tr>


        <th style=" width:200px;">
            TÊN SÁCH</th>
        <th style=" width:450px;">MÔ TẢ        </th>
        <th style=" width:150px;">
            ẢNH BÌA
        </th>
        <th style=" width:120px;">
            NGÀY CẬP NHẬT
        </th>
        <th style=" width:100px;">
            SỐ LƯỢNG TỒN
        </th>
        <th style=" width:100px;">
            ĐƠN GIÁ
        </th>
        <th style=" width:150px;">
            CHỦ ĐỀ
        </th>
        <th style=" width:200px;"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.TensachCT)
            </td>
            <td>
                @Truncate(item.Mota, 300)
            </td>
            <td>
                <img src="~/hinhanh/sach/@item.Anhbia" width="100" height="150">
                @*@Html.DisplayFor(modelItem => item.Anhbia)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaycapnhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluongton)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dongia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CHUDE.Tenchude)
            </td>
            <td>
                @Html.ActionLink("Sửa", "suasach", new { @Mactsach=item.MaCTS }) |
                @Html.ActionLink("Chi Tiết", "chitietsach", new { @Mactsach = item.MaCTS }) |
                @Html.ActionLink("Xóa", "xoasach", new { @Mactsach = item.MaCTS })
            </td>
        </tr>
    }

</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Sach", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
