@model WEBSITEBANSACH.Models.KHACHHANG

@{
    ViewBag.Title = "suakh";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>THAY ĐỔI THÔNG TIN KHÁCH HÀNG</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Chi tiết khách hàng</h4>
        <hr />
        @Html.ValidationSummary(true)
        @*<div class="form-group">
            @Html.LabelFor(model => model.MaKH, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaKH)
                @Html.ValidationMessageFor(model => model.MaKH)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.HoTen, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HoTen)
                @Html.ValidationMessageFor(model => model.HoTen)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Taikhoan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Taikhoan)
                @Html.ValidationMessageFor(model => model.Taikhoan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Matkhau, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Matkhau)
                @Html.ValidationMessageFor(model => model.Matkhau)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Diachi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Diachi)
                @Html.ValidationMessageFor(model => model.Diachi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dienthoai, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dienthoai)
                @Html.ValidationMessageFor(model => model.Dienthoai)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gioitinh, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gioitinh)
                @Html.ValidationMessageFor(model => model.Gioitinh)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ngaysinh, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="Ngaysinh" />
                @Html.ValidationMessageFor(model => model.Ngaysinh)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="LƯU" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
