@{
    ViewBag.Title = "thongke";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Quí', 'Doanh số'],
          @foreach (var r in Model)
          {
              @:["@Html.Raw(r.Group)", @r.dongia],
          }
        ]);

        var options = {
            title: 'HÀNG TỒN KHO THEO CHỦ ĐỀ',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
</script>
<fieldset>
    <legend>Biểu đồ</legend>
    <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
</fieldset>

<fieldset>
    <legend style="color:red; text-align:center;">HÀNG TỒN KHO THEO CHỦ ĐỀ</legend>
    <table class="table">
        <tr>
            <th style=" width:300px; text-align:center;">Tên chủ đề</th>
            <th style=" width:300px; text-align:center;">Số lượng tồn</th>
            <th style=" width:300px; text-align:center;">Tổng trị giá</th>
            <th style=" width:300px; text-align:center;">Giá sách thấp nhất</th>
            <th style=" width:300px; text-align:center;">Giá sách lớn nhất</th>
            <th style=" width:300px; text-align:center;">Trung bình tổng trị giá</th>
        </tr>
        @foreach (var p in Model)
        {
            <tr>
                <td style=" width:300px; text-align:center;">@p.Group</td>
                <td style=" width:300px; text-align:center;">@p.soluong</td>
                <td style=" width:300px; text-align:center;">@p.dongia</td>
                <td style=" width:300px; text-align:center;">@p.Min</td>
                <td style=" width:300px; text-align:center;">@p.Max</td>
                <td style=" width:300px; text-align:center;">@p.Avg</td>
            </tr>
        }
    </table>
</fieldset>

   
@*//////////////////////////////*@
